<form class="forma">
  <div class="form__heading">
    <h1>Kontaktirajte nas</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, sunt!</p>
  </div>
  <label for="ime">Ime</label>
  <input type="text" id="ime" />

  <label for="prezime">Prezime</label>
  <input type="text" id="prezime" />

  <label for="mejl">Email</label>
  <input type="text" id="mejl" />

  <label for="poruka">Poruka</label>
  <textarea name="" id="poruka" cols="30" rows="10"></textarea>
  <button class="dugme">Submit</button>
</form>
