<section class="block container">
  <header class="block__header">
    <h2>Raznolikost Voćnih Ukusa</h2>
    <p>
      Naša pivara je poznata po širokom spektru voćnih pivskih aroma i ukusa. Od
      sočnih trešanja do osvežavajućih limuna, pronađite svoj omiljeni voćni
      karakter u našem pivu.
    </p>
  </header>
  <article class="features grid grid--cols-2">
    <div class="features__content">
      <span class="icon-container">
        <img class="icon" src="images/beer.png"
      /></span>
      <h3>Novi Beograd, Novi Ukusi</h3>
      <p>
        Nalazimo se blizu prelepog beogradskog keja, koji je savršeno mesto za
        opuštanje i uživanje u našim voćnim pivima. Dark Horse Brewery donosi
        novu dimenziju ukusa na obali reke, gde prirodna lepota sastaje se sa
        jedinstvenim pivskim iskustvom.
      </p>
      <a href="#" class="button button--primary">Saznaj vise</a>
    </div>
    <img
      src="images/pexels-elevate-1267323.jpg"
      alt="Feature image"
      class="features__image"
    />
  </article>

  <article class="features grid grid--cols-2">
    <div class="features__content">
      <span class="icon-container">
        <img class="icon" src="images/beer-tap.png"
      /></span>
      <h3>Društvene Igre za Sve Ukuse</h3>
      <p>
        Uz fantastična piva, Dark Horse Brewery takođe nudi bogatu kolekciju
        društvenih igara za sve ukuse. Bilo da ste ljubitelj društvenih igara,
        karata ili šaha, kod nas ćete pronaći nešto što će vas zabaviti.
        Povedite prijatelje na partiju omiljene igre uz čašu našeg najboljeg
        piva i stvorite nezaboravne trenutke zajedništva.
      </p>
      <a href="#" class="button button--primary">Saznaj vise</a>
    </div>
    <img
      src="images/pexels-elevate-1267348.jpg"
      alt="Feature image"
      class="features__image"
    />
  </article>

  <article class="features grid grid--cols-2">
    <div class="features__content">
      <span class="icon-container">
        <img class="icon" src="images/home-brewing.png"
      /></span>
      <h3>Specijalni Događaji i Rezervacije</h3>
      <p>
        Želite da organizujete poseban događaj u našoj pivari? Dark Horse
        Brewery vam pruža mogućnost za rezervaciju prostora za različite
        specijalne događaje. Bez obzira da li planirate rođendansku proslavu,
        korporativni događaj ili bilo koju drugu posebnu priliku, naš tim će vam
        pomoći da organizujete nezaboravan trenutak.
      </p>
      <a href="#" class="button button--primary">Saznaj vise</a>
    </div>
    <img
      src="images/pexels-pixabay-159291.jpg"
      alt="Feature image"
      class="features__image"
    />
  </article>
</section>
