<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <div class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Proizvodi</h2>
        <span class="icon-container">
          <img class="icon" src="images/arrow.png" />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Pivo</a></li>
          <li><a href="#">Hrana</a></li>
          <li><a href="#">Merch</a></li>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">O nama</h2>
        <span class="icon-container">
          <img class="icon" src="images/arrow.png" />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Istorija</a></li>
          <li><a href="#">Lokacija</a></li>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Kontakt</h2>
        <span class="icon-container">
          <img class="icon" src="images/arrow.png" />
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Newsletter</a></li>
        </ul>
      </div>
    </div>
    <section class="footer__logo">
      <img src="images/logo.png" alt="Logo" />
      <p class="footer__text">Copyright 2023 Maja Grubor</p>
    </section>
  </div>
</footer>
