<section class="block block--skewed-left block--dark">
  <div class="container grid grid--cols-2">
    <div class="hero__content">
      <h1 class="block__heading">Pivnica dekstra</h1>
      <p class="hero__subtitle">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum ut ea
        porro quis architecto cupiditate inventore blanditiis nobis expedita
        quas.
      </p>
      <a href="#" class="button button--primary">Saznaj vise</a>
    </div>
    <img src="images/cans-mockup.png" alt="Hero image" class="hero__image" />
  </div>
</section>
