<nav class="nav-bar">
    <div class="nav-bar__logo">
      <a href="#"
        ><img
          src="images/logo.png"
          alt="Site logo"
          class="nav-bar__logo-image"
      /></a>
    </div>
    <ul class="nav-bar__list">
      <li class="nav-bar__item"><a href="#">POCETNA</a></li>
      <li class="nav-bar__item"><a href="#">PIVA</a></li>
      <li class="nav-bar__item"><a href="#">HRANA</a></li>
      <li class="nav-bar__item"><a href="#">MERCH</a></li>
      <li class="nav-bar__item"><a href="#">NASA PRICA</a></li>
      <li class="nav-bar__item"><a href="#">KONTAKT</a></li>
    </ul>
    <div class="nav-bar__burger" onclick="toggleMenu()">
      <img
          src="images/burger-menu.png"
          alt="Site logo"
          class="nav-bar__burger-image"
      />
  </nav>