<div class="card testimonial">
  <div class="testimonial__image">
    <img
      class="testimonial__image"
      src="images/beer-guy.jpeg"
      alt="Customer testimonial"
    />
  </div>

  <blockquote class="quote">
    <p class="quote__text">
      Jedna od stvari koja me posebno oduševila jeste njihova ponuda hrane.
      Odlična hrana je odličan pratilac vrhunskih piva, i u Dark Horse Brewery
      to zaista znaju. Hrskavi pereci, sočni burgeri i osvežavajuće salate su
      savršeno upotpunjenje njihovih pivskih kreacija.
    </p>
    <footer>
      <div class="media">
        <div class="media__body">
          <h4 class="author">Marko Petrovic</h4>
          <p>Muzicki novinar</p>
        </div>
      </div>
    </footer>
  </blockquote>
</div>
